# Django
SECRET_KEY=django-insecure-cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=db_facturacion
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5433

# Docker PostgreSQL
POSTGRES_DB=db_facturacion
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
DB_PORT_LOCAL=5433

# PgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change-me
PGADMIN_PORT=5050

# SUNAT DEMO
SUNAT_CERT_RUC=20100066603
SUNAT_USUARIO_SOL=MODDATOS
SUNAT_CLAVE_SOL=MODDATOS
SUNAT_URL_BETA=https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService?wsdl
SUNAT_CERT_PATH=core/certs/DEMO_Sunat.pfx
SUNAT_CERT_PASSWORD=coloca_password_del_certificado
